<!doctype html>
<html>
<head>
    <title>慧禹科技</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Play-Offs Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!meta charset utf="8">
    <!--flexslider-css-->
    <link href="/static/css/flexslider.css" rel='stylesheet' type='text/css'/>
    <!--bootstrap-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/jPages.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    {#<link href="/static/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css"/>#}

    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Coda:400,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
    <!--script-->
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="/static/js/move-top.js"></script>
    <script type="text/javascript" src="/static/js/easing.js"></script>
    <script src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
    <!--script-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 900);
            });
        });
    </script>
    <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/static/js/script.js"></script>
    <!--fonts-->
</head>
<body>
<div class="header" id="home">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right margin-top cl-effect-2">
                    <li><a href="/"><span data-hover="首页">首页</span></a></li>
                    <li class="field1 item" >
                        <a href="#" id="field" class="nav-tit">
                            <span data-hover="智慧业务">智慧业务</span>
                        </a>
                    </li>
                    <li class="field1 item">
                        <a href="#" id="field1" class="nav-tit">
                        <span data-hover="解决方案">解决方案</span></a>
                    </li>
                    <li><a href="/xwdt"><span data-hover="合作伙伴">合作伙伴</span></a></li>
                    <li><a href="/news"><span data-hover="新闻动态">新闻动态</span></a></li>
                    <li><a href="/contact"><span data-hover="联系我们">联系我们</span></a></li>
                </ul>
                <div class="clearfix"></div>
            </div><!-- /.navbar-collapse -->
            <div class="clearfix"></div>
        </div><!-- /.container-fluid -->
    </nav>
    {% block field %}
        <div class="field-wrap field-wrap1 list-s01" style="display: none" >
            <div class="container">
                {% for d in domainmenus %}
                    <div class="field-item">
                        <h2><span></span>{{ d.menumain }}</h2>
                        <ul>
                            {% for m in d.menus %}
                                <li><a href="/domaindetail/{{ m.pk }}" target="_blank"><span></span>{{ m.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="field-wrap field-wrap2 list-s01" style="display: none">
            <div class="container">
                {% for s in solutionmenus %}
                    <div class="field-item">
                        <h2><span></span>{{ s.menumain }}</h2>
                        <ul>
                            {% for m in s.menus %}
                                <li><a href="/solutiondetail/{{ m.pk }}" target="_blank"><span></span>{{ m.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
          <script src="../static/js/script.js"></script>
           <script type="text/javascript">
                $("#field").mouseenter(function () {
                        $(".field-wrap2").hide();
                        $(".field-wrap1").stop(true,true).slideDown();
                });

                $("#field").mouseleave(function () {
                    $(".field-wrap1").delay(700).slideUp();
                });
                 $(".field-wrap1").mouseenter(function () {
                    $(this).stop(true);
                 });
                 $(".field-wrap1").mouseleave(function(){
                            $(this).slideUp();
                  })

                $("#field1").mouseenter(function () {
                        $(".field-wrap1").hide();
                        $(".field-wrap2").stop(true,true).slideDown();
                });

                $("#field1").mouseleave(function () {
                    $(".field-wrap2").delay(700).slideUp();
                });
                 $(".field-wrap2").mouseenter(function () {
                    $(this).stop(true);
                 });
                  $(".field-wrap2").mouseleave(function(){
                            $(this).slideUp();
                  })
            </script>
    {% endblock %}

    {% block header_banner %}
    {% endblock %}

    {% block dynamic %}
    {% endblock %}

    {% block slider %}
    {% endblock %}


    {% block our_work %}
    {% endblock %}

    {% block gallery %}
    {% endblock %}

    {% block home %}
    {% endblock %}

    {% block news %}
    {% endblock %}

    {% block news-detail %}
    {% endblock %}

    {% block home1 %}
    {% endblock %}

</div>
<div class="footer" id="footer">
    <div class="container">
        <div class="copy-rt">
            <p>Copyright 2011-2016 All Rights Reserved 慧禹（中国）信息科技有限公司版权所有 鄂ICP备12012524号</p>
        </div>
    </div>
</div>
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>
</body>
</html>
