{% extends 'base.html' %}
{% block home1 %}
    <div class="" id="home1">
        <div class="banamer-img">
            <img src="../static/images/1.jpg"/>
        </div>
        <div class="contact">
            <div class="tit">
                <h3><span>联系我们</span></h3>
            </div>
            <div class="contact_page">
                <div class="container w1000">
                    <div class="col-md-3 fl cnt-pg">
                        <h4>武汉慧禹信息科技有限公司</h4>
                        <ul>
                            <li>湖北省武汉市东湖高新开发区</li>
                            <li>关山大道</li>
                            <li>光谷软件园</li>
                            <li>A8栋</li>
                            <li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>027-87519608</li>
                        </ul>
                    </div>
                    <div class="col-md-8 fr cnt-pg">
                        <h4>请联系我们</h4>
                        <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">请输入......</textarea>
                        <form>
                            <input class="name" type="text" name="name" value="您的姓名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"><br>
                            <br>
                            <input class="nuber" type="text" name="Phone number" value="手机号码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Number';}"><br>
                            <br>
                            <input class="mail2" type="text" name="email" value="邮箱地址" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail';}"><br>
                            <br>
                            <button type="submit" class="btn btn-info1 mrgn-can">提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190028.76432096347!2d12.535997899999987!3d41.91007110000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f6196f9928ebb%3A0xb90f770693656e38!2sRome%2C+Italy!5e0!3m2!1sen!2sin!4v1436158065010" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
		<div class="footer">
            <div class="container">
                <div class="copy-rt">
                    <p>Copyright &copy; 2015.Company name All rights reserved.</p>
                </div>
            </div>
		</div>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>
{% endblock %}
	</body>
</html>
