{% extends 'base.html' %}

{% block field %}
<div class="field-wrap i-r-circle2"  >
    <div class="container">
        <div class="field-item">
            <h2><span></span>领域业务1</h2>
            <ul>
                <li><span></span>这个业务这个业务</li>
                <li><span></span>那个领域</li>
                <li><span></span>这个业务这个业务</li>
                <li><span></span>这个业务这个业务</li>
                <li><span></span>这个业务这个业务</li>
            </ul>
        </div>
        <div class="field-item">
            <h2><span></span>领域业务1</h2>
            <ul>
                <li><span></span>这个业务这个业务</li>
                <li><span></span>那个领域</li>
                <li><span></span>这个业务这个业务</li>
                <li><span></span>这个业务这个业务</li>
                <li><span></span>这个业务这个业务</li>
            </ul>
        </div>
        <div class="field-item">
            <h2><span></span>领域业务1</h2>
            <ul>
                <li><span></span>这个业务这个业务</li>
                <li><span></span>那个领域</li>
                <li><span></span>这个业务这个业务</li>
                <li><span></span>这个业务这个业务</li>
                <li><span></span>这个业务这个业务</li>
            </ul>
        </div>
        <div class="field-item">
            <h2><span></span>领域业务1</h2>
            <ul>
                <li><span></span>这个业务这个业务</li>
                <li><span></span>那个领域</li>
                <li><span></span>这个业务这个业务</li>
                <li><span></span>这个业务这个业务</li>
                <li><span></span>这个业务这个业务</li>
            </ul>
        </div>
        <div class="field-item">
            <h2><span></span>领域业务1</h2>
            <ul>
                <li><span></span>这个业务这个业务</li>
                <li><span></span>那个领域</li>
                <li><span></span>这个业务这个业务</li>
                <li><span></span>这个业务这个业务</li>
                <li><span></span>这个业务这个业务</li>
            </ul>
        </div>
    </div>
    <script src="../static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
		$("#field").click(function(){
            $(".field-wrap").slideDown()
            return false;
		})
	</script>

</div>
<div class="banamer-img  i-r-circle2">
    <img src="../static/images/1.jpg"/>
</div>
{% endblock %}
{% block footer %}
<div class="footer" id="footer">
    <div class="container">
        <div class="copy-rt">
            <p>Copyright &copy; 2015.Company name All rights reserved.</p>
        </div>
    </div>
</div>
{% endblock %}
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>
</body>
</html>