{% extends 'base.html' %}

{% block gallery %}
<div class="banamer-img">
    <img src="../static/images/1.jpg"/>
</div>
<div class="gallery" id="gallery">
    <h3>合作伙伴</h3>
    <div class="container mar0">
        <link rel="stylesheet" href="css/swipebox.css">
        <script src="js/jquery.swipebox.min.js"></script>
        <script type="text/javascript">
            jQuery(function ($) {
                $(".swipebox").swipebox();
            });
        </script>
        <div class="gallery-grids">
            <ul>
                <li class=" gal-alt">
                    <a href="images/17.jpg" class="">
                        <img src="../static/images/1.png" alt="/" width="260">
                    </a>
                </li>

                <li class=" gal-alt">
                    <a href="images/26.jpg" class="">
                        <img src="../static/images/2.png" class="" alt="/" width="260">
                    </a>
                </li>

                <li class= gal-alt">
                    <a href="images/16.jpg" class="">
                        <img src="../static/images/3.png" class="" alt="/" width="330">
                    </a>
                </li>

                <li class=" gal-alt mr0">
                    <a href="images/25.jpg" class="">
                        <img src="../static/images/4.png" class="" alt="/" width="280">
                    </a>
                </li>

                <li class=" gal-alt">
                    <a href="images/19.jpg" class="">
                        <img src="../static/images/5.png" class="" alt="/" width="315">
                    </a>
                </li>

                <li class=" gal-alt">
                    <a href="images/18.jpg" class="e">
                        <img src="../static/images/6.png" class="" alt="/" width="360">
                    </a>
                </li>

                <li class=" gal-alt">
                    <a href="images/22.jpg" class="">
                        <img src="../static/images/7.png" class="" alt="/" width="260">
                    </a>
                </li>

                <li class=" gal-alt mr0">
                    <a href="images/12.jpg" class="">
                        <img src="../static/images/8.png" class="" alt="/" width="195">
                    </a>
                </li>

                <!---->
                <li class=" gal-alt">
                    <a href="images/14.jpg" class="">
                        <img src="../static/images/9.png" class="" alt="/" width="186">
                    </a>
                </li>

                <li class=" gal-alt">
                    <a href="images/13.jpg" class="ve">
                        <img src="../static/images/10.png" class="" alt="/" width="186">
                    </a>
                </li>

                <li class=" gal-alt">
                    <a href="images/15.jpg" class="">
                        <img src="../static/images/11.png" class="" alt="/" width="186">
                    </a>
                </li>

                <li class=" gal-alt">
                    <a href="images/23.jpg" class="swipebox img-responsive">
                        <img src="../static/images/12.png" class="" alt="/" width="184">
                    </a>
                </li>

                <!---->
                <li class=" gal-alt">
                    <a href="images/20.jpg" class="">
                        <img src="../static/images/13.png" class="" alt="/" width="184">
                    </a>
                </li>

                <li class=" gal-alt mr0">
                    <a href="images/21.jpg" class="">
                        <img src="../static/images/14.png" class="" alt="/" width="180">
                    </a>
                </li>

                <li class=" gal-alt">
                    <a href="images/25.jpg" class="">
                        <img src="../static/images/15.png" class="" alt="/" width="185">
                    </a>
                </li>

                <li class=" gal-alt">
                    <a href="images/19.jpg" class="">
                        <img src="../static/images/16.png" class="" alt="/" width="186">
                     </a>
                </li>
                 <li class=" gal-alt">
                    <a href="images/19.jpg" class="">
                        <img src="../static/images/17.png" class="" alt="/" width="186">
                     </a>
                </li>
                 <li class=" gal-alt">
                    <a href="images/19.jpg" class="">
                        <img src="../static/images/18.png" class="" alt="/" width="185">
                     </a>
                </li>
                 <li class=" gal-alt ">
                    <a href="images/19.jpg" class="">
                        <img src="../static/images/19.png" class="" alt="/" width="184" >
                     </a>
                </li>
                 <li class=" gal-alt mr0">
                    <a href="images/19.jpg" class="">
                        <img src="../static/images/20.png" class="" alt="/" width="180">
                     </a>
                </li>
                 <li class=" gal-alt">
                    <a href="images/19.jpg" class="">
                        <img src="../static/images/21.png" class="" alt="/" width="244">
                     </a>
                </li>
                 <li class=" gal-alt">
                    <a href="images/19.jpg" class="">
                        <img src="../static/images/22.png" class="" alt="/" width="166">
                     </a>
                </li>
                 <li class=" gal-alt">
                    <a href="images/19.jpg" class="">
                        <img src="../static/images/23.png" class="" alt="/" width="132">
                     </a>
                </li>
                 <li class= gal-alt">
                    <a href="images/19.jpg" class="">
                        <img src="../static/images/24.png" class="" alt="/" width="102">
                     </a>
                </li>
                 <li class=" gal-alt">
                    <a href="images/19.jpg" class="">
                        <img src="../static/images/25.png" class="" alt="/" width="100">
                     </a>
                </li>
                 <li class="gal-alt">
                    <a href="images/19.jpg" class="">
                        <img src="../static/images/26.png" class="" alt="/" width="245">
                     </a>
                </li>
                 <li class="gal-alt mr0">
                    <a href="images/19.jpg" class="">
                        <img src="../static/images/27.png" class="" alt="/" width="104">
                     </a>
                </li>

            </ul>

        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<div class="footer" id="footer">
    <div class="container">
        <div class="copy-rt">
            <p>Copyright &copy; 2015.Company name All rights reserved.</p>
        </div>
    </div>
</div>
{% endblock %}
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>
</body>
</html>