{% extends 'base.html' %}

{% block gallery %}
    <div class="banamer-img">
        <img src="/static/images/banner01.jpg"/>
    </div>
    <div class="gallery" id="gallery">
        <h3>合作伙伴</h3>
        <h5>慧禹科技秉承“分享、合作、创造“的经营理念，与智慧城市产业链上下游的优秀企业合作，共同致力于相关领域整体解决方案的研究制定，积极探索协同发展的合作模式，打造互利共赢的智慧城市生态圈。</h5>
        <div class="container mar0">
            <link rel="stylesheet" href="/static/css/swipebox.css">
            <script src="/static/js/jquery.swipebox.min.js"></script>
            <script type="text/javascript">
                jQuery(function ($) {
                    $(".swipebox").swipebox();
                });
            </script>
            <div class="gallery-grids">
                <ul>
                    <li class=" gal-alt">
                        <img src="/static/images/1.png" alt="/" width="260">
                    </li>

                    <li class=" gal-alt">
                        <img src="/static/images/2.png" class="" alt="/" width="260">
                    </li>

                    <li class=gal-alt">
                        <img src="/static/images/3.png" class="" alt="/" width="330">
                    </li>

                    <li class=" gal-alt mr0">
                        <img src="/static/images/4.png" class="" alt="/" width="280">
                    </li>

                    <li class=" gal-alt">
                        <img src="/static/images/5.png" class="" alt="/" width="315">
                    </li>

                    <li class=" gal-alt">
                        <img src="/static/images/6.png" class="" alt="/" width="360">
                    </li>

                    <li class=" gal-alt">
                        <img src="/static/images/7.png" class="" alt="/" width="260">
                    </li>

                    <li class=" gal-alt mr0">
                        <img src="/static/images/8.png" class="" alt="/" width="195">
                    </li>

                    <!---->
                    <li class=" gal-alt">
                        <img src="/static/images/9.png" class="" alt="/" width="186">
                    </li>

                    <li class=" gal-alt">
                        <img src="/static/images/10.png" class="" alt="/" width="186">
                    </li>

                    <li class=" gal-alt">
                        <img src="/static/images/11.png" class="" alt="/" width="186">
                    </li>

                    <li class=" gal-alt">
                        <img src="/static/images/12.png" class="" alt="/" width="184">
                    </li>

                    <!---->
                    <li class=" gal-alt">
                        <img src="/static/images/13.png" class="" alt="/" width="184">
                    </li>

                    <li class=" gal-alt mr0">
                        <img src="/static/images/14.png" class="" alt="/" width="180">
                    </li>

                    <li class=" gal-alt">
                        <img src="/static/images/15.png" class="" alt="/" width="185">
                    </li>

                    <li class=" gal-alt">
                        <img src="/static/images/16.png" class="" alt="/" width="186">
                    </li>
                    <li class=" gal-alt">
                        <img src="/static/images/17.png" class="" alt="/" width="186">
                    </li>
                    <li class=" gal-alt">
                        <img src="/static/images/18.png" class="" alt="/" width="185">
                    </li>
                    <li class=" gal-alt ">
                        <img src="/static/images/19.png" class="" alt="/" width="184">
                    </li>
                    <li class=" gal-alt mr0">
                        <img src="/static/images/20.png" class="" alt="/" width="180">
                    </li>
                    <li class=" gal-alt">
                        <img src="/static/images/21.png" class="" alt="/" width="244">
                    </li>
                    <li class=" gal-alt">
                        <img src="/static/images/22.png" class="" alt="/" width="166">
                    </li>
                    <li class=" gal-alt">
                        <img src="/static/images/23.png" class="" alt="/" width="132">
                    </li>
                    <li class=gal-alt">
                        <img src="/static/images/24.png" class="" alt="/" width="102">
                    </li>
                    <li class=" gal-alt">
                        <img src="/static/images/25.png" class="" alt="/" width="100">
                    </li>
                    <li class="gal-alt">
                        <img src="/static/images/26.png" class="" alt="/" width="245">
                    </li>
                    <li class="gal-alt mr0">
                        <img src="/static/images/27.png" class="" alt="/" width="104">
                    </li>

                </ul>

            </div>
        </div>
    </div>
{% endblock %}
