{% extends 'base.html' %}
{% block news %}
<div class="banamer-img">
    <img src="../static/images/1.jpg"/>
</div>
<div class="news">
    <div class="tit">
        <h3><span>新闻动态</span></h3>
    </div>

    <div class="container ">

        <div class="news-wrap">
            <ul class="news-list" id="itemContainer">
                <li class=" gal-alt news-item clear">
                    <a href="/newsdetail">
                        <img src="../static/images/15.jpg" />
                        <h3>我是新闻标题新闻标题</h3>
                        <span>2016-09-21</span>
                        <p>一日，我与上帝一同出行。 路过一条河时，我看到水里有一个人在挣扎，我指着那个人问：“上帝，为什么你不去救那个人，难道他没有向你祈祷吗？”上帝回答：“不，他向我祈祷了两次，
                            但我也救了他两次——第一次我让一根圆木从他身边漂过，他没有去抓。第二次我让一个人划着竹筏从他身边经过，他又不肯去抓那个人向他伸出的手。</p>
                    </a>
                </li>

                <li class=" gal-alt news-item clear">
                    <a href="#">
                        <img src="../static/images/15.jpg" />
                        <h3>我是新闻标题新闻标题</h3>
                        <span>2016-09-21</span>
                        <p>一日，我与上帝一同出行。 路过一条河时，我看到水里有一个人在挣扎，我指着那个人问：“上帝，为什么你不去救那个人，难道他没有向你祈祷吗？”上帝回答：“不，他向我祈祷了两次，
                            但我也救了他两次——第一次我让一根圆木从他身边漂过，他没有去抓。第二次我让一个人划着竹筏从他身边经过，他又不肯去抓那个人向他伸出的手。</p>
                    </a>
                </li>

                <li class= "gal-alt news-item clear">
                    <a href="#">
                        <img src="../static/images/15.jpg" />
                        <h3>我是新闻标题新闻标题</h3>
                        <span>2016-09-21</span>
                        <p>一日，我与上帝一同出行。 路过一条河时，我看到水里有一个人在挣扎，我指着那个人问：“上帝，为什么你不去救那个人，难道他没有向你祈祷吗？”上帝回答：“不，他向我祈祷了两次，
                            但我也救了他两次——第一次我让一根圆木从他身边漂过，他没有去抓。第二次我让一个人划着竹筏从他身边经过，他又不肯去抓那个人向他伸出的手。</p>
                    </a>
                </li>

                <li class=" gal-alt news-item clear">
                    <a href="#">
                        <img src="../static/images/15.jpg" />
                        <h3>我是新闻标题新闻标题</h3>
                        <span>2016-09-21</span>
                        <p>一日，我与上帝一同出行。 路过一条河时，我看到水里有一个人在挣扎，我指着那个人问：“上帝，为什么你不去救那个人，难道他没有向你祈祷吗？”上帝回答：“不，他向我祈祷了两次，
                            但我也救了他两次——第一次我让一根圆木从他身边漂过，他没有去抓。第二次我让一个人划着竹筏从他身边经过，他又不肯去抓那个人向他伸出的手。</p>
                    </a>
                </li>

                <li class=" gal-alt news-item clear">
                     <a href="#">
                        <img src="../static/images/15.jpg" />
                        <h3>我是新闻标题新闻标题</h3>
                        <span>2016-09-21</span>
                        <p>一日，我与上帝一同出行。 路过一条河时，我看到水里有一个人在挣扎，我指着那个人问：“上帝，为什么你不去救那个人，难道他没有向你祈祷吗？”上帝回答：“不，他向我祈祷了两次，
                            但我也救了他两次——第一次我让一根圆木从他身边漂过，他没有去抓。第二次我让一个人划着竹筏从他身边经过，他又不肯去抓那个人向他伸出的手。</p>
                     </a>
                </li>

                 <li class=" gal-alt news-item clear">
                    <a href="#">
                        <img src="../static/images/15.jpg" />
                        <h3>我是新闻标题新闻标题</h3>
                        <span>2016-09-21</span>
                        <p>一日，我与上帝一同出行。 路过一条河时，我看到水里有一个人在挣扎，我指着那个人问：“上帝，为什么你不去救那个人，难道他没有向你祈祷吗？”上帝回答：“不，他向我祈祷了两次，
                            但我也救了他两次——第一次我让一根圆木从他身边漂过，他没有去抓。第二次我让一个人划着竹筏从他身边经过，他又不肯去抓那个人向他伸出的手。</p>
                    </a>
                </li>

                <li class=" gal-alt news-item clear">
                    <a href="#">
                        <img src="../static/images/15.jpg" />
                        <h3>我是新闻标题新闻标题</h3>
                        <span>2016-09-21</span>
                        <p>一日，我与上帝一同出行。 路过一条河时，我看到水里有一个人在挣扎，我指着那个人问：“上帝，为什么你不去救那个人，难道他没有向你祈祷吗？”上帝回答：“不，他向我祈祷了两次，
                            但我也救了他两次——第一次我让一根圆木从他身边漂过，他没有去抓。第二次我让一个人划着竹筏从他身边经过，他又不肯去抓那个人向他伸出的手。</p>
                    </a>
                </li>

                <li class= "gal-alt news-item clear">
                    <a href="#">
                        <img src="../static/images/15.jpg" />
                        <h3>我是新闻标题新闻标题</h3>
                        <span>2016-09-21</span>
                        <p>一日，我与上帝一同出行。 路过一条河时，我看到水里有一个人在挣扎，我指着那个人问：“上帝，为什么你不去救那个人，难道他没有向你祈祷吗？”上帝回答：“不，他向我祈祷了两次，
                            但我也救了他两次——第一次我让一根圆木从他身边漂过，他没有去抓。第二次我让一个人划着竹筏从他身边经过，他又不肯去抓那个人向他伸出的手。</p>
                    </a>
                </li>

                <li class=" gal-alt news-item clear">
                    <a href="#">
                        <img src="../static/images/15.jpg" />
                        <h3>我是新闻标题新闻标题</h3>
                        <span>2016-09-21</span>
                        <p>一日，我与上帝一同出行。 路过一条河时，我看到水里有一个人在挣扎，我指着那个人问：“上帝，为什么你不去救那个人，难道他没有向你祈祷吗？”上帝回答：“不，他向我祈祷了两次，
                            但我也救了他两次——第一次我让一根圆木从他身边漂过，他没有去抓。第二次我让一个人划着竹筏从他身边经过，他又不肯去抓那个人向他伸出的手。</p>
                    </a>
                </li>

                <li class=" gal-alt news-item clear">
                     <a href="#">
                        <img src="../static/images/15.jpg" />
                        <h3>我是新闻标题新闻标题</h3>
                        <span>2016-09-21</span>
                        <p>一日，我与上帝一同出行。 路过一条河时，我看到水里有一个人在挣扎，我指着那个人问：“上帝，为什么你不去救那个人，难道他没有向你祈祷吗？”上帝回答：“不，他向我祈祷了两次，
                            但我也救了他两次——第一次我让一根圆木从他身边漂过，他没有去抓。第二次我让一个人划着竹筏从他身边经过，他又不肯去抓那个人向他伸出的手。</p>
                     </a>
                </li>

                 <li class=" gal-alt news-item clear">
                    <a href="#">
                        <img src="../static/images/15.jpg" />
                        <h3>我是新闻标题新闻标题</h3>
                        <span>2016-09-21</span>
                        <p>一日，我与上帝一同出行。 路过一条河时，我看到水里有一个人在挣扎，我指着那个人问：“上帝，为什么你不去救那个人，难道他没有向你祈祷吗？”上帝回答：“不，他向我祈祷了两次，
                            但我也救了他两次——第一次我让一根圆木从他身边漂过，他没有去抓。第二次我让一个人划着竹筏从他身边经过，他又不肯去抓那个人向他伸出的手。</p>
                    </a>
                </li>

                <li class=" gal-alt news-item clear">
                    <a href="#">
                        <img src="../static/images/15.jpg" />
                        <h3>我是新闻标题新闻标题</h3>
                        <span>2016-09-21</span>
                        <p>一日，我与上帝一同出行。 路过一条河时，我看到水里有一个人在挣扎，我指着那个人问：“上帝，为什么你不去救那个人，难道他没有向你祈祷吗？”上帝回答：“不，他向我祈祷了两次，
                            但我也救了他两次——第一次我让一根圆木从他身边漂过，他没有去抓。第二次我让一个人划着竹筏从他身边经过，他又不肯去抓那个人向他伸出的手。</p>
                    </a>
                </li>

                <li class= "gal-alt news-item clear">
                    <a href="#">
                        <img src="../static/images/15.jpg" />
                        <h3>我是新闻标题新闻标题</h3>
                        <span>2016-09-21</span>
                        <p>一日，我与上帝一同出行。 路过一条河时，我看到水里有一个人在挣扎，我指着那个人问：“上帝，为什么你不去救那个人，难道他没有向你祈祷吗？”上帝回答：“不，他向我祈祷了两次，
                            但我也救了他两次——第一次我让一根圆木从他身边漂过，他没有去抓。第二次我让一个人划着竹筏从他身边经过，他又不肯去抓那个人向他伸出的手。</p>
                    </a>
                </li>

                <li class=" gal-alt news-item clear">
                    <a href="#">
                        <img src="../static/images/15.jpg" />
                        <h3>我是新闻标题新闻标题</h3>
                        <span>2016-09-21</span>
                        <p>一日，我与上帝一同出行。 路过一条河时，我看到水里有一个人在挣扎，我指着那个人问：“上帝，为什么你不去救那个人，难道他没有向你祈祷吗？”上帝回答：“不，他向我祈祷了两次，
                            但我也救了他两次——第一次我让一根圆木从他身边漂过，他没有去抓。第二次我让一个人划着竹筏从他身边经过，他又不肯去抓那个人向他伸出的手。</p>
                    </a>
                </li>

                <li class=" gal-alt news-item clear">
                     <a href="#">
                        <img src="../static/images/15.jpg" />
                        <h3>我是新闻标题新闻标题</h3>
                        <span>2016-09-21</span>
                        <p>一日，我与上帝一同出行。 路过一条河时，我看到水里有一个人在挣扎，我指着那个人问：“上帝，为什么你不去救那个人，难道他没有向你祈祷吗？”上帝回答：“不，他向我祈祷了两次，
                            但我也救了他两次——第一次我让一根圆木从他身边漂过，他没有去抓。第二次我让一个人划着竹筏从他身边经过，他又不肯去抓那个人向他伸出的手。</p>
                     </a>
                </li>
            </ul>
            <div class="holder">
            </div>
            <script src="../static/js/jquery-2.1.4.min.js"></script>
            <script src="../static/js/jPages.js"></script>
            <script>
                $("div.holder").jPages({
                    containerID: "itemContainer"
                });
            </script>

        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<div class="footer" id="footer">
    <div class="container">
        <div class="copy-rt">
            <p>Copyright &copy; 2015.Company name All rights reserved.</p>
        </div>
    </div>
</div>
{% endblock %}
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>
</body>
</html>